{% load staticfiles %} 
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>show_log</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
	<link href="{% static 'css/mystye.css' %}" rel="stylesheet">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<div class="row ">
			<div class="col-xs-12 col-sm-7 col-sm-push-3">
			<div class="row ">
				<h2 class="col-xs-8 col-xs-push-2">用户登录记录</h2>
				</div>
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<tr>
							<td>用户名</td>
							<th>登陆日期</th>
							
						</tr>
						{% if log_list %}
						    
							{% for log in log_list %}
						<tr>
							<td>{{ log.username }}</td>
							<th>{{ log.login_time }}</th>
							
						</tr>
						{% endfor %}
						    
						{% endif %}
					</table>
				</div>
				<div class="col-xs-9 col-xs-push-1">
	    
					   <span class="btn btn-sm btn-default">{{ fir_page|safe }}</span>
					   <span class="btn btn-sm btn-default">{{ per_page|safe }}</span>
					   <span class="btn btn-sm btn-default">{{ next_page|safe }}</span>
					   <span class="btn btn-sm btn-default">{{ end_page|safe }}</span>
					   
						
					   
					   <span>&nbsp; 共{{ all_page }}页</span><span>&nbsp; 第{{ current_page }}页</span>
					   <span class="btn btn-sm btn-default">&nbsp; <a href="{% url 'admin:index' %}">返回</a></span>
				</div>
			</div>
	</div>
	
</body>
</html>


